* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --text-color:white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --button-color: rgba(255, 255, 255, 0.1);
    --button-color-border: rgba(255, 255, 255, 0.5);
    --button-color-hover: rgba(255, 255, 255, 0.05);
    --switch-bg-url: url(./assets/moonStars.svg);
}
.light {
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --button-color: rgba(0, 0, 0, 0.1);
    --button-color-border: rgba(0, 0, 0, 0.2);
    --button-color-hover: rgba(0, 0, 0, 0.05);
    --switch-bg-url: url(./assets/sun.svg);
}
body {
    background-image: var(--bg-url);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
}
body * {
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}
#container {
    width: 360px;
    margin: auto;
    text-align: center;
    padding-top: 56px;
}
#imgCoringao {
    width: 112px;
    border-radius: 50%;
    border: 1px solid #000; 
    margin-bottom: 5px;
}
#meuNome {
    font-weight: 500;
    font-size: 93px 24px;
    line-height: 24px;
}
#switch {
    width: 64px;
    height: 24px;
    margin: 24px auto;
    position: relative;
    align-items: center;
}
#switch button{
    width: 32px;
    height: 32px;
    border: 0;
    border-radius: 50%;
    background: white var(--switch-bg-url) no-repeat center;
    position: absolute;
    z-index: 1;
    transform: translateY(-50%);
    top: 50%;
    animation: switchMoveBack 0.3s;
}
.light #switch button{
    animation: switchMove 0.3s forwards;
}
#switch button:hover {
    outline: 8px solid var(--button-color-hover);
}
#switch span{
  
    position: absolute;
    border-radius: 9999px;
    width: 64px;
    height: 24px;
    border: 1px solid var(--text-color);
    background: var(--button-color);
}
#botoes {
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
}
#botoes li {
    border: 1px solid var(--button-color-border);
    background: var(--button-color);
    border-radius: 8px;
    padding: 16px 24px;
    width: 100%;
    max-width: 588px;
}
#botoes li:hover{
    border: 1.5px solid var(--text-color) ;
    background: var(--button-color-hover);
}
#botoes a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

#redesSociais {
    margin-top: 32px;
    display: flex;
    gap: 16px;
    justify-content: center;
    font-size: 24px;
}
#redesSociais a{
    border-radius: 50%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#redesSociais a:hover {
    background: var(--button-color-hover);
}
#rodape {
    text-align: center;
    margin: 24px;
    font-size: 14px;
    font-weight: 400;

}
#heart {
    margin-bottom: -3px;
}

@media (min-width: 768px) {
    :root {
        --bg-url: url(./assets/bg-desktop.jpg);
    }
    .light {
        --bg-url: url(./assets/bg-desktop-light.jpg);
    }
}
@keyframes switchMove {
    from {
        left:0;
    }
    to {
        left: 55%;
    }
}
@keyframes switchMoveBack {
    from {
        left:55%;
    }
    to {
        left: 0;
    }
}